html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #4a4a4a;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
}

/*----------- Header ----------*/

.header {
  width:100%;
  position: fixed;
  height: 64px;
  background-color: white;
}

div.desktop.logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

nav.desktop.menu {
  width: 100%;
}

ul {
  display:flex;
  justify-content: flex-end;
  padding-right: 16px;
}

nav.desktop.menu ul li {
  display: inline;
  padding-right: 20px;
}

/*----------- Header Mobile ----------*/

@media only screen and (min-width: 768px) {
  .mobile.header {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  .mobile.header {
      display: flex;
      justify-content: space-around;
  }

  .header.container {
    display: none;
  }


}

/*----------- Banner ----------*/

#banner.container {
  background-color: #d8d8d8;
}

.main {
  margin-top: 64px;
  width: 60%;
}

.main img {
  padding-top: 32px;
  padding-left: 24px;
  padding-bottom: 32px;
  padding-right: 42px;
  width: 100%;
}

.banner.content {
  padding-left: 23px;
  margin-left: 40px;
  width: 30%;
}

.banner.content h1 {
  font-size: 2.5rem
}

.banner.content p {
  font-size: 1.5rem
}

.banner.content p.button {
  color: white;
  background-color: #4a4a4a;
  text-align: center;
  padding: 8px;
}

.banner.content p.button:hover {
  background-color: black;
  transition: background-color .7s ease-in;
}

/*----------- Banner Mobile ----------*/

@media only screen and (min-width: 768px) {
  .mobile.banner {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #banner.container {
    display: none;
}

  .mobile.banner img {
    width: 100%;
  }

  .info {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    background-color: #d8d8d8;
  }

  .info h1 {
    padding: 32px 0;
    margin: 0;
  }

  .info p {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
  }

  p.button {
    margin-top: 24px;
    color: white;
    background-color: #4a4a4a;
    text-align: center;
    padding: 8px;
  }

  div.image {
    line-height: 0;
  }

}

/*----------- Practice ----------*/

#practice.container {
  align-items: flex-start;
}

.primary {
  width: 60%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 26px;
  border-right: solid .1px silver;
}

.primary img {
  padding-top: 32px;
  width: 100%;
}

.information {
  width: 40%;
}

.widget {
  display: flex;
  align-items: center;
}

div#one {
    padding-top: 16px;
}

.widget img {
  width:35%;
  padding:16px;
}

div#shadowed {
  background-color: #d8d8d8;
}

.widget.text {
  display: flex;
  flex-direction: column;
}

.primary h2 {
  font-size: 2rem;
  margin-top: 32px;
}


/*----------- Practice Mobile ----------*/

@media only screen and (min-width: 768px) {
  .mobile.practice {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #practice.container {
    display: none;
  }

  .widget {
    flex-wrap: wrap;
    justify-content: center;
  }

  .widget img {
    width: 90%;
  }

  div.text {
    padding-left: 32px;
    padding-bottom: 16px;
    width: 100%;
  }

  div.text h3 {
    margin: 0;
  }

  div.text p {
    margin: 7px 0;
  }

  div#bordered {
    border-bottom: solid 1px silver;
    padding-bottom: 32px;
  }

}

/*----------- Learning -----------*/

section#learning {
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
}

section#learning h1 {
  margin: 32px 0;
  font-size: 1.75rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
}

.course-box {
  background-color: white;
  width: 26%;
  margin-right: 32px;
  margin-bottom: 16px;
}

.course-box .content {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
}

.course-box img {
  width: 100%;
}

.content h2 {
  margin: 0;
}

/*----------- Learning Mobile -----------*/

@media only screen and (min-width: 768px) {
  .mobile.learning {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  section#learning {
    display: none;
  }

  .mobile.learning h1 {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 16px;
    text-align: center;
  }

  .mobile.learning p {
    background-color: #d8d8d8;
    color: #4a4a4a;
    padding: 16px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 1.25rem;
    font-weight: 700;
  }

  div.course-buttons {
    padding-bottom: 32px;
    border-bottom: solid 1px silver;
  }

}



/*----------- Practice 2 ----------*/

 h1.thesis {
  margin: 32px 0;
  font-size: 1.75rem;
  text-align: center;
}

.primary video {
  width: 100%;
}

.primary#no-line {
  width: 60%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 26px;
  border-right: none;
}

div#one shadowed.widget {
  margin-top: 16px;
  background-color: #d8d8d8;
}


/*----------- Practice 2 Mobile ----------*/

@media only screen and (min-width: 768px) {
  .mobile.thesis {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  h1.thesis {
    display:none;
  }

  .mobile.thesis h1 {
    padding: 32px 0;
    margin: 0;
    text-align: center;
  }

  .mobile.thesis video {
    width: 100%;
  }

  div.mobile.thesis {
    padding-bottom: 24px;
  }

}

/*----------- Footer----------*/


footer {
  padding-left: 24px;
  border-top: 1px solid silver;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

div.nav {
  padding-right: 24px;
}


.nav span {
  padding-left: 16px;
}


/*----------- Footer Mobile ----------*/

@media only screen and (max-width: 768px) {
  div#boss p {
    background-color: inherit;
    color: #4a4a4a;
    padding: 16px;
    width: auto;
    margin: 0 auto;
    font-size: .75rem;
    font-weight: 500;
  }

  div.nav {
    display: none;
  }

  footer {
    margin: 0;
    padding: 0;
  }
}
